@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;700&display=swap');

*{
    font: 15px/17px 'Heebo', sans-serif;
}

body {
    direction: rtl;
}

body, ul, li, figure, h4 {
    margin: 0;
    padding: 0;
}

ul, .max-cont {
    width: max-content;
}

li {
    list-style: none;
}

h1 {
    font-size: 30px;
    font-weight: 700;
    margin: 50px 50px 35px;
}

h5 {
    margin-top: 15px;
}

input[type=number]::-webkit-inner-spin-button {
    display: none;
  }

footer {
    padding: 30px;
}

.btn_close {
    position: absolute;
    top: 10px;
    right: 10px;
}

.btn_close i {
    font-size: 20px;
}

.btn_close i:hover {
    color: red;
    cursor: pointer;
}

.navbar-up {
    display:flex;
    justify-content: space-between;
}

.navbar-up a, .navbar-up i, .navbar-up select {
    font-size: 13px;
}

.navbar-up li, .navbar-menu li {
    display: table-cell;
}

.menu1:hover .menu2 {
    display: block;
}

.menu2_h:hover .menu3 {
    display: block;
}

.menu2  {
    position: absolute;
    top: 36px;
    right: 0px;
    background-color: white;
    border: 1px solid #2e87b9;
    border-radius: 5px;
    box-shadow: rgb(82, 81, 81) 1px 1px 2px 0px;
    z-index: 1;
    display: none;
}

.menu3 {
    position: absolute;
    top: 0px;
    right: calc(100% - 10px);
    background-color: white;
    border: 1px solid #2e87b9;
    border-radius: 5px;
    box-shadow: rgb(82, 81, 81) 1px 1px 2px 0px;
    z-index: 2;
    display: none;
}

.menu1, .menu2 li {
    display: block;
    text-align: right;
    position: relative;
}

.help_text {
    position: absolute;
    bottom: 100%;
    left: 0px;
    width: 120px;
    color: black;
    background-color: rgb(138, 138, 138);
    border-radius: 5px;
    box-shadow: rgb(36, 36, 36) 1px 1px 3px 0px;
}

.help:hover .help_text {
    display: block;
}

.icon_lang {
    margin-top: 2px;
    width: 23px;
}

.fa-globe {
    font-size: 20px !important;
    margin-left: 5px;
}

a {
    text-decoration: none;
}

select {
    cursor: pointer;
    outline: none;
}

.container {
    width: 1140px;
    margin: auto;
}

.fs-13 {
    font-size: 13px;
}

.fs-20 {
    font-size: 20px;
}

.fs-40 {
    font-size: 40px;
}

.fs-300 {
    font-size: 300px;
}

.lin_heigh-25 {
    line-height: 25px;
}

.bold {
    font-weight: 700;
}

.mar-auto {
    margin: auto;
}

.mar0{
    margin: 0px;
}

.marT0 {
    margin-top: 0;
}

.marT10 {
    margin-top: 10px;
}

.marT20 {
    margin-top: 20px;
}

.marT40{
    margin-top: 40px;
}

.marT60{
    margin-top: 60px;
}

.marB0 {
    margin-bottom: 0;
}

.marB10 {
    margin-bottom: 10;
}

.marB40 {
    margin-bottom: 40px;
}

.marB120 {
    margin-bottom: 120px;
}

.marR-20 {
    margin-right: 20px;
}

.marR-25 {
    margin-right: 25px;
}

.marL10 {
    margin-left: 10px;
}

.marL30 {
    margin-left: 30px;
}

.mar5 {
    margin: 5px;
}

.mar10 {
    margin: 10px;
}

.mar15 {
    margin: 15px;
}

.mar30 {
    margin: 30px;
}

.mar15-0 {
    margin: 15px 0px;
}

.mar20-10 {
    margin: 20px 10px;
}

.mar10-40 {
    margin: 10px 40px;
}

/* .mar10-20 {
    margin: 10px 20px;
} */

.mar0-10 {
    margin: 0px 10px;
}

.mar0-20 {
    margin: 0px 20px;
}

.mar0-30 {
    margin: 0px 30px;
}

.mar5-5-0 {
    margin: 5px 5px 0px
}

.mar0-150-md {
    margin: 0px 150px;
}

.mar10-0 {
    margin: 10px 0px;
}

.mar20-0 {
    margin: 20px 0px;
}

.mar40-0 {
    margin: 40px 0px;
}

.mar200-0 {
    margin: 200px 0px;
}

.mar50-100 {
    margin: 50px 100px;
}

.floatR {
    float: right;
}

.floatL {
    float: left;
}

.clear {
    clear: both;
}

.block {
    display: block;
}

.in_block {
    display: inline-block;
}

.disp-n {
    display: none;
}

.error {
    border: red 1px solid !important;
}

.wid50 {
    width: 50px;
}

.wid60 {
    width: 60px;
}

.wid85 {
    width: 85px;
}

.wid130 {
    width: 130px;
}

.wid140 {
    width: 140px;
}

.wid150 {
    width: 150px;
}

.wid190 {
    width: 190px;
}

.wid200 {
    width: 200px;
}

.wid220 {
    width: 220px;
}

.wid250 {
    width: 250px;
}

.wid260 {
    width: 260px;
}

.wid280 {
    width: 280px;
}

.wid300 {
    width: 300px;
}

.wid400 {
    width: 400px;
}

.wid450 {
    width: 450px;
}

.wid600 {
    width: 600px;
}

.wid700 {
    width: 700px;
}

.wid800 {
    width: 830px;
}

.wid1200 {
    width: 1200px;
}

.wid100 {
    width: 100px;
}

.wid115x115 {
    width: 115px;
    height: 115px;
}

.wid60x60 {
    width: 60px;
    height: 60px;
}

.wid25 {
    width: 25%;
}

.wid30pc {
    width: 30%;
}

.wid20pc {
    width: 20%;
    min-width: 185px;
}

.wid44pc {
    width: 44%;
}

.list-container.wid44pc {
    min-width: 502px;
}

.wid50pc {
    width: 50%;
}

.wid65pc {
    width: 65%;
}

.wid96pc {
    width: 96%;
}

.wid100pc {
    width: 100%;
}

.min_wid400 {
    min-width: 400px;
}

.pad0-5 {
    padding: 0px 5px;
}

.pad0-10 {
    padding: 0px 10px;
}

.pad0-20 {
    padding: 0px 20px;
}

.pad5-10 {
    padding: 5px 10px;
}

.pad5-20 {
    padding: 5px 20px;
}

.pad9-40 {
    padding: 9px 40px;
}

.pad10-20 {
    padding: 10px 20px;
}

.pad30-10 {
    padding: 30px 10px;
}

.pad3 {
    padding: 3px;
}

.pad5 {
    padding: 5px;
}

.pad10 {
    padding: 10px;
}

.pad15 {
    padding: 15px;
}

.pad10-0 {
    padding: 10px 0px;
}

.pad10-15 {
    padding: 10px 15px;
}

.pad3-0 {
    padding: 3px 0px;
}

.top-0 {
    top: 0px;
}

.bot--80 {
    bottom: -80px;
}

.right500 {
    right: 500px;
}

.right--20 {
    right: -20px;
}

.right20 {
    right: 20px;
}

.allBor {
    border: 1px solid black;
    border-radius: 5px;
}

.borL {
    border-left: 1px solid;
}

.borR {
    border-right: 1px solid;
}

.borR-bl-3 {
    border-right: 3px solid #066093;
}

.bor_rad5 {
    border-radius: 5px;
}

.bor_rad5-top {
    border-radius: 5px 5px 0px 0px;
}

.bor-blu {
    border: #2e87b9 1px solid;
}

.bor-gy {
    border-color: grey;
}

.bor-w {
    border-color: white;
}

.col-yw {
    color: yellow;
}

.col-bl {
    color: black;
}

.col-w {
    color: white;
}

.col-r {
    color: red;
}

.col-gn {
    color: green;
}

.col-gy-b {
    color: rgb(112, 112, 112);
}

.col-blu {
     color: #066093;
}

.c-blu_h:hover {
    color: #2e87b9;
}

.c-yw_h:hover {
    color: rgb(245, 211, 58);
}

.opac8_h:hover {
    opacity: 0.8;
}

.bc_blu-lin {
    background: #066093 linear-gradient(to bottom, #066093 26%, #2e87b9 100%);
}

.bc-gy-l {
    background-color: rgb(233, 233, 233);
}

.bc-gy-b {
    background-color: grey;
}

.bc-gn {
    background-color: rgb(121, 255, 103);
}

.bc-w_h:hover {
    background-color: white;
}

.bc-gy-l_h:hover {
    background-color: rgb(168, 168, 168) !important;
}

.bc-gy-xl_h:hover {
    background-color: rgb(233, 233, 233) !important;
}

.lin_h:hover {
    text-decoration: underline;
}

.bc-transp {
    background-color: transparent;
}

.bor-n {
    border: none;
}

.b_sh-w {
    box-shadow: white 0px 0px 8px 10px;
}

.shad {
    text-shadow: black 1px 1px 1px;
}

.shad_btn:focus-within {
    box-shadow: black 0px 0px 4px 0px;

}

.ta-c {
    text-align: center;
}

.ta-l {
    text-align: left;
}

.ta-r {
    text-align: right;
}

.ta-j {
    text-align: justify;
}

.wid1024 {
    width: 1024px;
}

.wid682 {
    width: 682px;
}

.heig17 {
    height: 17px;

}

.heig50 {
    height: 50px;
}

.heig100 {
    height: 100px;
}

.heig170 {
    height: 170px;
}

.heig256 {
    height: 256px;
}

.heig100pc {
    height: 100%;
}

.hidden_long {
    overflow: hidden;
}

.rel {
    position: relative;
}

.abso {
    position: absolute;
}

#form-city input, #formSearchSynagogue input[type=text], #formSearchTefila input[type=text] {
    border:1px grey solid;
    border-radius: 5px;
    outline: none;
}

.newPass-container {
    max-width: 600px;
}

.newsLetter input, #form_forgotPass input {
    border: 1px #066093 solid;
    padding: 7px;
    outline: none;
}

.newsLetter button, #form_forgotPass button {
    padding: 8px;
    border: none;
    background: #066093 linear-gradient(to bottom, #066093 26%, #2e87b9 100%);
}

.parasha {
    background-image: url("../assets/img/site/Fond_Torah.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: 20px;
    padding: 27px 20px;
    text-align: center;
}

.img_pano {
    width: 1024px;
    height: 256px;
}

.tag_pano {
    position: absolute;
    bottom: 10px;
    left: 70px;
    color: rgb(70, 69, 69);
    background-color: rgba(255, 255, 255, 0.6);
}

.menu, h3, footer {
    background: #066093 linear-gradient(to bottom, #066093 26%, #2e87b9 100%);
}

.menu {
    position: sticky;
    top: 0px;
    z-index: 100;
}

.menu_ul {
    margin: auto;
}

.hamb {
    cursor: pointer;
}

.soon_div_parent {
    display: inline-block;
    width: 30px;
}

.soon_div {
    position: absolute;
    top: 9px;
    left: 6px;
    transform: rotate(-30deg);
    background-color: red;
    border-radius: 3px;
    font-size: 13px;
    padding: 1px;
}

.fa-search {
    width: 50px;
    height: 50px;
    line-height: 50px !important;
    text-align: center;
    display: block;
    position: absolute;
    pointer-events: none;
    color: grey;
}

.search-control {
    width: 500px;
    padding: 9px 40px;
    border: 1px grey solid;
    border-radius: 5px;
    font-size: 20px;
    outline: none;
}

.search-control:focus-within, .con-box input:focus-within, .con-box select:focus-within, #form-city input:focus-within, #formSearchSynagogue input:focus-within, #formSearchTefila input:focus-within, #formSearchTefila select:focus-within, #form-newPass input:focus-within, #form-newPass-reset input:focus-within {
    box-shadow: 0px 0px 4px 1px #066093;
}

.suggestions {
    position: absolute;
    padding: 0px 40px;
    margin-inline-start: 0px;
}

.btn-box {
    background: #066093 linear-gradient(to bottom, #066093 26%, #2e87b9 100%);
    padding: 15px;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
}

.message_box {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.575);
    position: fixed;
    top: 0px;
    /* right: -15px; */
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 120;
}

.con-header li, .synagogue-header li {
    display: table-cell;
    background: rgb(105, 105, 105);
}

.con-header li:first-child {
    border-radius: 0px 5px 0px 0px;
}

.con-header li:last-child {
    border-radius: 5px 0px 0px 0px;
}

.setting-body li a {
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    color: black;
    padding: 10px;
}

.actif {
    background: #066093 linear-gradient(to bottom, #066093 26%, #2e87b9 100%) !important;
}

.con-box {
    margin: auto;
    margin-top: 60px;
    text-align: center;
    position: relative;
}

.con-box hr, .synagogue-header hr {
    border: solid 2px #2e87b9;
    margin: 0;
}

.con-header {
    border-radius: 5px 5px 0px 0px;
    /* position: relative; */
}

.con-body {
    border-radius: 0px 0px 5px 5px;
    background-color: white;
}

.con-body a {
    display: inline-block;
}

.upload_img {
    background-image: url("../assets/img/site/no_image.png");
    background-repeat: no-repeat;
    background-size: auto 65%;
    background-position: 48%;
}

.bs {
    box-sizing: border-box;
}

.btn {
    background: #066093 linear-gradient(to bottom, #066093 26%, #2e87b9 100%);
    border: none !important;
    outline: none;
    cursor: pointer;
}

.con-box .input_design,
#form-newPass .input_design,
#form-newPass-reset .input_design {
    padding: 9px 40px;
    border: 1px grey solid;
    border-radius: 5px;
    outline: none;
}

.con-box select {
    padding: 6px 40px;
    border: 1px grey solid;
    border-radius: 5px;
    outline: none;
}

.con-box .fa-envelope, .con-box .fa-lock, .con-box .fa-synagogue, .con-box .fa-map-marker-alt, .con-box .fa-globe, .con-box .fa-phone-square,
#form-newPass .fa-lock, #form-newPass-reset .fa-lock {
    width: 37px;
    height: 37px;
    line-height: 37px !important;
    text-align: center;
    display: block;
    position: absolute;
    pointer-events: none;
    color: grey;
}

.map {
    width: 60%;
    height: 150px;
}

.disp-b-sm {
    display: none;
}

.point {
    cursor: pointer;
}

.toTop{
    position: fixed;
    bottom: 50px;
    left: 30px;
    color: white;
    background-color: rgba(0, 0, 0, 0.562);
    width: 50px;
    height: 50px;
    border-radius: 5px;
    font-size: 30px;
    line-height: 50px;
    text-align: center;
    display: none;
    z-index: 110;
}

.toTop i {
    font-size: 30px;
}

.toTop:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.712);
}

.bkAsideBar {
    position: sticky;
    top: 100px;
}

.ui-menu .ui-menu-item {
    background-color: white;
    border-radius: 0px;
    color: #066093;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
	border: 1px solid transparent;
	background: rgb(233, 233, 233);
	color: #0088cc;
}

.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}



@media screen and (max-width: 1140px) {

    .container {
        width: 90%;
    }

    header .wid1024 {
        width: unset;
    }

    header .wid600 {
        width: 550px;
    }

    .slider-area.wid1024, 
    .img_pano {
        width: 752px;
    }

    .slider-area.heig256, 
    .img_pano {
        height: 188px;
    }

    .mar0-150-md {
        margin: 0px 0px 0px 20px;
    }

    .synagogue-container .wid800{
        width: 620px;
    }

    .pub.wid30pc {
        width: 100%;
        text-align: center;
    }

    .pub img {
        width: 30%;
    }
}



/* @media screen and (max-width: 1024px) {    

} */


@media screen and (max-width: 1023px) {    

    header .wid600 {
        width: 100%;
    }

    .menu_ul {
        margin: unset;
    }

    .menu_ul li:last-child {
        display: none;
    }

    .bkAsideBar.wid260,
    .bk-infos.wid800 {
        width: 100%;
    }

    .bkAsideBar .newsLetter {
        width: 40%;
        float: right;
        margin-top: 60px;
    }

    .bkAsideBar .paypal {
        width: 40%;
        float: left;
    }

    .bkAsideBar {
        width: 22%;
    }

    .bkBody {
        width: 73%;
    }

    .synagogue-container .wid800 {
        width: 100%;
    }

    .list_tefila li {
        width: 100%;
    }

    .list_tefila li .wid400 {
        width: 350px;
    }

    .message-body nav {
        width: 97%;
    }

    footer div div div div:first-child {
        display: none;
    }

    footer .wid25 {
        width: 33%;
    }    
}


@media screen and (max-width: 930px) {

    .navbar-up ul:first-child {
        width: 100%;
    }

    .li_form-city {
        border: none;
    }

    .li_date {
        display: block !important;
        width: 100%;
        text-align: center;
    }
}


@media screen and (max-width: 863px) {

    .container {
        width: 98%;
    }
    
    h1 {
        width: 100%;
        margin: 35px;
    }

    .menu_ul li:nth-child(7) {
        display: none;
    }
}


 
@media screen and (max-width: 767px) {

    .navbar-up {
        flex-direction: column-reverse;
    }

    .navbar-up ul:first-child li {
        display: block;
        border: none;
        text-align: center;
    }

    .navbar-up ul:last-child {
        position: relative;
        right: calc(100% - 100px);
    }

    .li_date {
        width: unset;
    }

    .parasha, .hoursAnimate {
        display: none;
    }

    header .wid1024 {
        width: 80%;
    }

    header .wid1024 > div {
        width: calc(100% - 120px);
        float: left;
    }

    header img {
        width: 100px !important;
    }

    .slider-area.wid1024, 
    .img_pano {
        width: 620px;
    }

    .slider-area.heig256, 
    .img_pano {
        height: 155px;
    }

    .tag_pano {
        bottom: 15px;
        left: 15px;
        margin: 0;
        padding: 2px;
    }

    h1 {
        margin: 35px 0px;
    }

    .menu_ul li:nth-child(6) {
        display: none;
    }

    #search_synagogue {
        width: 100%;
        margin-bottom: 20px;
    }

    .search-syna.max-cont {
        width: 100%;
    }

    .search-syna .floatR {
        float: none;
        text-align: center;
    }
    
    .search-control {
        width: 100%;
        box-sizing: border-box;
    }

    .nav-user_command {
        float: left;
    }

    .wid682,
    .slider-area.wid1024, 
    .img_pano {
        width: 600px;
    }

    .heig170,
    .slider-area.heig256, 
    .img_pano {
        height: 150px;
    }

    .wid100-sm {
        width: 100%;
    }

    .wid20pc {
        width: 100%;
    }

    .setting-account.wid20pc,
    .setting-synagogue.wid20pc {
        width: 200px;
        margin: 0 !important;
    }

    /* .wid30pc {
        width: 100%;
    } */

    .list-container.wid44pc {
        width: 502px;
    }

    .wid44pc.mar0-30 {
        margin: 0;
    }

    .wid20pc.floatR,
    .wid44pc.floatR,
    .wid44pc.floatL {
        float: none;
        margin: auto;
    }

    .pub img {
        width: 100%;
    }

    .list_tefila li .wid400 {
        width: 250px;
    }

    .message_box .wid700 {
        width: 280px;
    }

    .btn-setting {
        margin-top: -40px !important;
    }

    .fa-user-cog,
    .fa-sliders-h {
        position: absolute;
        left: -39px;
        top: 0px;
        padding: 6px 12px;
    }

    .setting-account .setting-body,
    .setting-synagogue .setting-body {
        background-color: rgb(233, 233, 233);
        padding-bottom: 10px;
        border-radius: 0px 0px 3px 3px;
        position: absolute;
        transition: right 500ms;
    }

    .setting-account .setting-body {
        right: -115px;
    }

    .setting-synagogue .setting-body {
        right: -160px;
    }

    .btn-setting:hover .setting-body {
        right: 0px;
    }

    .setting-body h3 {
        margin-top: 0;
    }

    #add_syngogue_form .wid44pc {
        margin: 20px auto;
        width: 90%;
    }

    #add_syngogue_form .wid96pc {
        width: 95%;
    }

    #add_syngogue_form .wid300 {
        width: 100%;
    }

    .message-body ul {
        width: unset;
    }

    .message-body li .floatR {
        float: none;
    }

    .message-body li .wid400 {
        width: 90%;
    }

    .container-btn-account-add.wid65pc {
        width: 85%;
    }

    .map {
        width: 100%;
    }

    footer .wid25 {
        width: 100%;
        margin-top: 20px;
    }

    .disp-nR {
        display: none;
    }

    footer nav:hover .disp-nR {
        display: block;
    }

    footer h5 span {
        display: inline !important;
    }

}

@media screen and (max-width: 646px) {

    h1 {
        font-size: 22px;
    }

    .menu_ul li:nth-child(5) {
        display: none;
    }

    .wid682,
    .slider-area.wid1024, 
    .img_pano {
        width: 400px;
    }

    .heig170,
    .slider-area.heig256, 
    .img_pano {
        height: 100px;
    }

    .marB120 {
        margin-bottom: 220px;
    }

    .bot--80 {
        margin-bottom: -80px;
    }

    .bk-title-sm {
        margin-top: 30px;
        max-width: calc(100% - 120px);
    }

    .bk-title-sm .fs-40 {
        font-size: 25px;
    }

    .bk-rite-sm {
        width: 100%;
        margin-top: 0px;
        text-align: end;
    }

    .synagogue-header,
    .synagogue-header ul {
        width: 100%;
    }

    .synagogue-header li.wid150 {
        width: 300px;
    }

    .bkAsideBar .newsLetter,
    .bkAsideBar .paypal {
        width: 100%;
    }

    .container-btn-account-add .max-cont {
        width: 100%;
    }

    .container-btn-account-add .max-cont a {
        display: block;
        text-align: center;
    }

}

@media screen and (max-width: 550px) {

    .list-container.wid44pc {
        min-width: 0;
        width: 90%;
        text-align: center; 
    }

    .wid44pc .wid115x115.floatR{
        float: none;
    }
    .list_tefila li .data_name {
        float: none;
    }

}

    
@media screen and (max-width: 430px) {

    .wid682,
    .slider-area.wid1024, 
    .img_pano {
        width: 300px;
    }

    .heig170,
    .slider-area.heig256, 
    .img_pano {
        height: 75px;
    }

}

/* @media screen and (max-width: 467px) {

} */

 
@media screen and (max-width: 414px) {

    
    .menu_ul li:nth-child(4) {
        display: none;
    }

    #synagogueList {
        text-align: center;
    }

    #synagogueList nav li .floatR {
        float: none;
    }

}

@media screen and (max-width: 374px) {

    header img {
        width: 90px !important;
    }

    h1 {
        font-size: 19px;
        margin: 25px 0px;
    }

    .li_date {
        display: none !important;
    }

    .menu_ul li i {
        display: none;
    }

    .menu_ul li:first-child i {
        display: inline;
    }
}


@media screen and (max-width: 333px) {

    .disp-b-sm {
        display: block;
    }

}