<%- include('../partials/header') %>
<%- include('../partials/navBar&search&connexion') %>


<div class="container">
    <div id="calendar" class="wid65pc floatR"></div>
    <div id="hours" class="wid30pc marR-25 marT40 floatR">
        <h3 class="ta-c col-w pad5 marB0">
            לוח יומי
        </h4>
        <div class="bc-gy-l">
            {
                BeginAstronomicalTwilight: '2020-08-29T04:48:12+03:00',
                AlosHashachar: '2020-08-29T04:57:54+03:00',
                Alos72: '2020-08-29T05:00:59+03:00',
                BeginNauticalTwilight: '2020-08-29T05:18:30+03:00',
                BeginCivilTwilight: '2020-08-29T05:48:01+03:00',
                Sunrise: '2020-08-29T06:08:41+03:00',
                SeaLevelSunrise: '2020-08-29T06:12:59+03:00',
                SofZmanShmaMGA: '2020-08-29T08:50:21+03:00',
                SofZmanShmaGRA: '2020-08-29T09:26:21+03:00',
                SofZmanTfilaMGA: '2020-08-29T10:06:49+03:00',
                SofZmanTfilaGRA: '2020-08-29T10:30:49+03:00',
                Chatzos: '2020-08-29T12:39:43+03:00',
                SunTransit: '2020-08-29T12:39:43+03:00',
                MinchaGedola: '2020-08-29T13:11:57+03:00',
                MinchaKetana: '2020-08-29T16:25:19+03:00',
                PlagHamincha: '2020-08-29T17:45:53+03:00',
                CandleLighting: '2020-08-29T18:48:28+03:00',
                SeaLevelSunset: '2020-08-29T19:06:28+03:00',
                Sunset: '2020-08-29T19:10:46+03:00',
                EndCivilTwilight: '2020-08-29T19:31:22+03:00',
                Tzais: '2020-08-29T19:43:34+03:00',
                EndNauticalTwilight: '2020-08-29T20:00:48+03:00',
                Tzais72: '2020-08-29T20:18:28+03:00',
                EndAstronomicalTwilight: '2020-08-29T20:31:00+03:00',
                ShaahZmanisGra: 'PT1H4M27.376S',
                TemporalHour: 'PT1H4M27.376S',
                ShaahZmanisMGA: 'PT1H16M27.376S'
            }
        </div>
    </div>
    <div class="clear"></div>

</div>


<script src="js/modules/hebcal-fullcalendar.js"></script>
<!-- <script src='fullcalendar/core/main.js'></script> -->
<!-- <script src='fullcalendar/core/locales-all.js'></script> -->

<%- include('../partials/footer') %>