<%- include('../partials/header') %>
<%- include('../partials/navBar&search&connexion') %>

<section>
    <div class="container">
        <div>
            <p class="ta-c fs-300 mar200-0">
                404
            </p>
            <p class="ta-c fs-40">
                הדף לא נמצא
            </p>
        </div>
    </div>
</section>



<%- include('../partials/footer') %>