<%- include('../partials/header') %>
<%- include('../partials/navBar&search&connexion') %>


<div class="container">
    
    <div id="main_forgotPass" class="ta-c">

        <p>
            הכנס כתובת המייל הרשומה במערכת
        </p>
        <form id="form_forgotPass" action="" method="post">
            <input type="email" name="email">
            <input type="submit" value="שלח">
        </form>
    </div>

</div>



<%- include('../partials/footer') %>