<%- include('../partials/header') %>
<%- include('../partials/navBar&search&connexion') %>

<section>
    <div class="container">
        <div class="newPass-container mar-auto">

            <h2 class="fs-20 bold ta-c pad10">
                עידכון סיסמא
            </h2>

            <form method="POST" action="/forgot_password/update_password" id="form-newPass">

                <div class="mar20-0">

                    <label for="newPass" class="bold mar10-0">סיסמא חדשה</label>
                    <i class="fas fa-lock"></i>
                    <input type="password" name="password" id="newPass" placeholder="סיסמא חדשה" class="input_design input_form-newPass wid96pc bs" autofocus />
                    <span class="col-r">*</span>
                    <span class="comment_error fs-13 col-r"></span> <br />
                    
                </div>

                <div class="mar20-0">

                    <label for="newPass-confirm" class="bold mar10-0">אישור סיסמא</label>
                    <i class="fas fa-lock"></i>
                    <input type="password" name="confirm" id="newPass-confirm" placeholder="אישור סיסמא" class="input_design input_form-newPass wid96pc bs" />
                    <span class="col-r">*</span>
                    <span class="comment_error fs-13 col-r"></span> <br />
                    
                </div>

                <input type="hidden" name="token" value="<%= user.resetPasswordToken %>">

                <input type="submit" value="עדכן את הסיסמא" class="btn mar20-0 col-w c-yw_h pad9-40 bor_rad5" />

            </form>
        </div>
    </div>
</section>


<%- include('../partials/footer') %>