
<!-- footer -->
    <footer class="marT40">
        <div class="container">

            <div>

                <div class="floatR wid25">
                    <div class="max-cont mar-auto">
                        <a href="/"  class="floatR">
                            <img class="wid150" src="/assets/img/site/LogoSite.png" alt="Logo Tefila Time" title="Tefila Time" />
                        </a>
                    </div>
                </div>

                <div class="floatR wid25">
                    <nav class="max-cont mar-auto">

                        <h5 class="col-w pad5 fs-20 mar10-0">
                            אודות
                        </h5>

                        <p class="col-w ta-j pad5 fs-13 wid200">
                            "תפילה טיים" הוא מנוע חיפוש זמני התפילות והשיעורים על בסיס נתונים של המשתמשים <br>
                            וכן פתרון להנהלת לו"ז של בתי הכנסת
                        </p>

                        <ul>

                            <li class="pad5">
                                <a href="/contact_us" class="col-w c-yw_h">
                                    <i class="fas fa-envelope"></i>
                                    צור קשר
                                </a>
                            </li>

                        </ul>
                    </nav>

                </div>

                
                <div class="floatR wid25">
                    <nav class="max-cont mar-auto">
                        <h5 class="col-w pad5 fs-20 mar10-0">
                            מידע שימושי
                            <span class="disp-n"><i class="fas fa-chevron-down marR-20"></i></span>
                        </h5>

                        <ul class="disp-nR">
                            
                            <li class="pad5">
                                <a href="/faq" class="col-w c-yw_h">שאילות ותשובות</a>
                            </li>

                            <li class="pad5">
                                <a href="/conditions" class="col-w c-yw_h">תנאי שימוש</a>
                            </li>

                            <li class="pad5">
                                <a href="/account" class="col-w c-yw_h account">החשבון שלי</a>
                            </li>

                            <li class="pad5">
                                <a href="javascript:void(0)" class="col-w c-yw_h regist">הרשמה לאתר</a>
                            </li>
                            
                            <li class="pad5">
                                <a href="/unsubscribe" class="col-w c-yw_h">הסרה מהרשימה</a>
                            </li>

                        </ul>
                    </nav>

                </div>

                <div class="floatR wid25">
                    <nav class="max-cont mar-auto">

                        <h5 class="col-w pad5 fs-20 mar10-0">
                            חפשו אותנו
                            <span class="disp-n"><i class="fas fa-chevron-down marR-20"></i></span>
                        </h5>

                        <ul class="disp-nR">
                            
                            <li class="pad5 wid85 ta-l">
                                <a href="http://facebook.com" target="_blank" class="col-w c-yw_h ta-l">
                                    Facebook
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </li>

                            <li class="pad5 wid85 ta-l">
                                <a href="http://twitter.com" target="_blank" class="col-w c-yw_h">
                                    Twitter
                                    <i class="fab fa-twitter"></i>
                                </a>
                                
                            </li>

                            <li class="pad5 wid85 ta-l">
                                <a href="http://linkedin.com" target="_blank" class="col-w c-yw_h">
                                    Linkedin
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                            </li>

                            <li class="pad5 wid85 ta-l">
                                <a href="https://Wa.me/972525817356" target="_blank" class="col-w c-yw_h">
                                    Whatsapp
                                    <i class="fab fa-whatsapp"></i>
                                </a>
                                
                            </li>

                        </ul>
                    </nav>

                </div>

                <div class="clear"></div>
            </div>

            <p class="ta-c col-w fs-13 marT40">
                &copy; כל הזכויות שמורות ל"תפילה טיים" 2019-<%= new Date().getFullYear() %>
            </p>

        </div>
    </footer>

    <!-- loader animation -->
    <div id="loader"></div>

    <!-- btn scroll to top -->
    <div class="toTop"><i class="fa fa-arrow-up"></i></div>

    <script type="module" src="/js/app.js"></script>
    <!-- <script src="/js/modules/jquery.js"></script> -->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCzixLXCXnqK5EIoh3ydBBzp-0ltX3EhjA&libraries=places&v=weekly"></script>


    

    <!-- accessibililty -->
    <script>
        nagishli_config = {
            // Plugin language, you can choose en for English, and he for Hebrew
            language: "he",
            // Currently, you can choose from Blue, Red, Green, Purple, Pink, Yellow, Gray, Orange, Brown, Turquoise and Black
            color: "blue",

        };
        nl_pos = "bl";
    </script>
    <script src="/plugins/nagishli.js" charset="utf-8" defer></script>

</body>
</html>