


    <h3 class="ta-c col-w pad5 mar10-0">
        פרסומות
    </h3>

    <figure>

        <a href="http://otiyotjudaica.com" target="_blank">
            <img class="wid100pc mar10-0 opac8_h" src="/assets/img/pub/otiyot.png" alt="" />
        </a>

        <img class="wid100pc mar10-0" src="/assets/img/pub/haddad.png" alt="" />

        <img class="wid100pc mar10-0" src="/assets/img/pub/shmaya.png" alt="" />

    </figure>